.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.auth-toggle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.auth-toggle button {
    flex: 1; /* Равная ширина кнопок */
    margin: 0 5px; /* Расстояние между кнопками */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-toggle button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.auth-toggle button:hover {
    background-color: #e6e6e6;
}

.auth-component {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.auth-form h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.auth-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.auth-form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.auth-form input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.auth-form button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-form button:hover {
    background-color: #0056b3;
}